body {
  	padding-top: 5rem;
  	background-color: #f6f6f6 !important;
}
.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}
h1{
	margin-bottom: 20px !important;
}
h2{
	color: #0069d9;
	margin-bottom: 20px !important;
}
.recuperaSenha{
	margin-top: 20px;
}
.coltabela{
	vertical-align: middle !important;
	padding: 0 !important;
}
.botoes{
	display: flex;
	justify-content: center;
	padding-top: 10px !important;
}
.btnCadastrar,
.btnCadastrarCategoria{
	margin-right: 20px !important;
}
.btnEditar{
	margin-right: 20px !important;
}
.botoesVisualizar{
	display: flex;
	justify-content: center;
}
.incluirUsuario, 
.incluirCategoria, 
.incluirProduto{
	margin-bottom: 20px !important;
	text-align: right;
}
